/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.demo-card-header-pic .card-header {
    height: 20vw;
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  .demo-card-header-pic .card-content-padding .date{
    color: #8e8e93;
  }

.demo-col-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .demo-sheet-swipe-to-step {
    --f7-sheet-border-color: transparent;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }
  
  .demo-sheet-swipe-to-step .swipe-handler {
    background: none;
  }
  .swipe-handler {
    height: 16px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    cursor: pointer;
    z-index: 10;
  }
  .swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: #666;
  }

  .long-seperator {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    margin-top: -3px;
    border-radius: 3px;
    background: #ddd;
  }
  
 .transport-chip-clickable {
    border-style: solid; border-radius: 3px; border-width: 1px;      
    border-color: #bbb;
    color: #666;
    padding: 1px;
    cursor: pointer;
}

.tcc-highlight {
    border-color: #000;
    font-weight: bold;
}

  .transport-chip  {
    border-style: solid; border-radius: 3px; border-width: 1px;      
    border-color: #bbb;
    color: #666;
    padding: 1px;
  }

  .transport-visualizer {
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    background: #ddd;
  }


  .grid-resizable-demo {
    --f7-grid-row-gap: 0px;
  }
  
  .grid-resizable-demo div[class*="col"] {
    margin-bottom: 0px;
  }

  .grid-resizable-demo .demo-col-center-content {
      text-align: left;
      align-items: left;
  }

  :root {
    --journey-transport-chip-padding: 8px;
    --journey-graphics-size: 8px;
    --journey-graphics-color:  #4285F4;

    --f7-list-item-padding-horizontal: 8px;
    --f7-list-media-item-padding-horizontal: 8px;
    --f7-list-item-media-margin: 8px;
    --f7-list-item-after-padding: 8px;

    --f7-fab-size: 48px;
}

  .col-journey-time {
    width: 42px;
    text-align: right;
    padding: 0px 5px 0px 5px;
  }

  .row-journey {
    display: flex;
    justify-content: flex-start;
  }

  .col-journey-main, 
  .col-journey-main-mid {
    width: 320px;
    text-align: left;
    padding-left: 16px;
  }

  .col-journey-main-mid {
    padding: var(--journey-transport-chip-padding);

    /* margin left = .5 x line-thinkness */
    border-left: 4px solid var(--journey-graphics-color);
    margin-left: calc(-1*var(--journey-graphics-size) - 2px);
  }

  .col-journey-graphics-mid {
    content: '';
    width: 16px;
  }

  .col-journey-graphics-top,
  .col-journey-graphics-bottom {
    content: '';
    width: calc(2*var(--journey-graphics-size)); 
    height: calc(2*var(--journey-graphics-size));

    left: 50%; right: 50%;

    border-radius: var(--journey-graphics-size);
    background: var(--journey-graphics-color);
  }

  .col-journey-graphics-top {
    /* line-height is 21px - 16px */
    margin-top: calc(21px - 2*var(--journey-graphics-size));
  }

  .disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }

  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }


  .row-planner-searchbox {
    display: flex;
    justify-content: space-between;
  }

  .col-planner-searchbox-main, 
  .col-planner-searchbox-after {
    text-align: left;
  }

  .col-planner-searchbox-main {
    min-width: 240px;
    width: 90%;
  }

  .col-planner-searchbox-after {
    width: 24px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;    
  }

  .planner-time-picker {
    position: absolute; 
    display: block;
    padding: 0 0 0 0;
    z-index: 1000;

    background: var(--f7-calendar-sheet-bg-color);

    top: 50%;
    left: 50%;
    min-width: 300px;
    max-width: var(--f7-calendar-modal-max-width);
    transform: translate3d(-50%, -50%, 0);

    transition-property: transform;

    border-radius: var(--f7-calendar-modal-border-radius);
    box-shadow: var(--f7-elevation-24);    
  }

  .planner-time-picker-header {
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: var(--f7-calendar-header-padding);
    background-color: var(--f7-calendar-header-bg-color, var(--f7-bars-bg-color));
    color: var(--f7-calendar-header-text-color, var(--f7-bars-text-color));
    height: var(--f7-calendar-header-height);
    line-height: var(--f7-calendar-header-height);
    font-size: var(--f7-toolbar-font-size);

    display: flex;
    justify-content: space-evenly;
  }

  .planner-time-picker-footer {
    width: 100%;
    flex-shrink: 0;
    padding: var(--f7-calendar-footer-padding);
    background-color: var(--f7-calendar-footer-bg-color, var(--f7-bars-bg-color));
    color: var(--f7-calendar-footer-text-color, var(--f7-bars-text-color));
    height: var(--f7-calendar-footer-height);
    font-size: var(--f7-toolbar-font-size);
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

  .planner-time-picker-container {
    padding: var(--f7-calendar-header-padding);
  }

  .planner-time-picker-date {
    display: flex; 
    justify-content: space-between;
    font-size: var(--f7-calendar-day-font-size);
  }

  .planner-time-picker-hide {
      transform: translate3d(-50%, 100vh, 0);    
      transition-duration: 400ms;
  }

  .planner-time-picker-dep-arr {
    margin-right: 8px; 
    margin-left: 8px;
  }

  .planner-time-picker-dep-arr-active {
    border-bottom: 2px solid; 
  }

  .journey-details-header {
    margin:12px; 
    padding-bottom: calc(var(--f7-list-item-padding-vertical) + var(--f7-safe-area-bottom));      
    padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left));      
  }

  .journey-marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: var(--journey-graphics-color);
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
  }
  /* to draw white circle */
  .journey-marker-pin::after {
      content: '';
      width: 24px;
      height: 24px;
      margin: 3px 0 0 3px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
   }
  /* to align icon */
  .journey-custom-div-icon i {
     position: absolute;
     width: 22px;
     font-size: 22px;
     left: 0;
     right: 0;
     margin: 10px auto;
     text-align: center;
  }